tests.py
tests2.py
results/BAL_boxscore.json
results/BOS_boxscore.json
results/CLE_boxscore.json
results/CWS_boxscore.json
results/DET_boxscore.json
results/HOU_boxscore.json
results/KC_boxscore.json
results/LAA_boxscore.json
results/MIN_boxscore.json
results/NYY_boxscore.json
results/OAK_boxscore.json
results/PHI_boxscore.json
results/SEA_boxscore.json
results/TB_boxscore.json
results/TEX_boxscore.json
results/TOR_boxscore.json
results/BOS_boxscore.json
results/HOU_boxscore.json
results/NYY_boxscore.json
